*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-contact{
    width: 400px;
    background: rgb(114, 212, 196);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 40px;
    border-color: rgb(11, 129, 7);
    border-style: solid;; 
    font-family: "calibri", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}
.form-contact-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(32, 104, 35);
}

.datos{
    width: 100%;
    background: rgb(147, 245, 207);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(172, 255, 172);
    font-family: "calibri";
    font-size: 18px;
    font-style: italic;
}
.btn-submit{
    width: 100%;
    background: rgb(41, 128, 38);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(157, 240, 154);
    font-family: "calibri";
    font-size: 18px;
    font-style: italic;
    color: #fff;
}
